# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default Owners
#*       @marc-mueller


#*.cs    @marc-mueller @NenoLoje

# Owners for specific folders
frontend/src/*            @marc-mueller
backend/Controllers/*     @NenoLoje